<section id="about" style="background-color: #eee;" class="text">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="heading">About me</h2>
        <p>I have a strong passion towards learning and critical thinking, so picking up that new framework wouldn't be a problem.
          As I grow as a programmer, what's next on my bucket list is Data Visualization and Machine Learning. I'm aspiring
          to create an immersive user experience by integrating machine learning and data analysis with web development.</p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <p>
          <img src="img/background.jpg" alt="" class="img-responsive img-circle">
        </p>
      </div>
    </div>
  </div>
</section>